.layout {
  height: 100%;
  width: 100vw;
  display: flex;
  background-color: rgba(245, 245, 245, 0.7);
}

.layout-children {
  flex-direction: column;
  width: 90vw;
  margin-left: 10vw;
  min-height: 100vh;
}

.home,
.about,
.project-container,
.contact {
  margin-top: 20vh;
}

nav {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 10;
}

nav a {
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
}

.burger-menu {
  display: none;
}

nav a:hover {
  text-decoration: underline;
}

.sidebar {
  position: fixed;
  min-width: 110px;
  width: 10vw;
  height: 100%;
  z-index: 10;
}

.logo img {
  min-width: 100px;
  width: 9vw;
  margin-top: 5px;
}

.icon-links {
  display: flex; 
  flex-direction: column;
  justify-content: space-evenly; 
  height: 200px; 
}

.icon-links svg:hover {
  color: black;
}

/* media queries */

@media screen and (max-width: 700px) {
  .layout-children {
    width: 100vw;
    margin-left: 0vw;
  }

  .horizontal-nav {
    display: none;
  }

  .burger-menu {
    display: inherit;
  }

  .icon-links {
    display: none;
  }
  /* hamburger menu */

  .burger {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: 0px transparent;
  }

  .burger:hover {
    background-color: transparent;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: #2f3e46;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 60vw;
    transition: width 1s, height 1s;
    transform: translate3d(12px, 0%, 3em);
    z-index: 9;
  }

  .menuNav.showMenu {
    width: 100%;
  }

  nav {
    margin-top: 60px;
    z-index: 10;
  }

  nav a {
    display: flex;
    justify-content: center;
  }

  ul {
    padding-top: 70px;
  }
}
