.project-container {
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  width: 80vw;
  max-width: 700px;
  margin: 0 auto 10vh;
  text-align: left;
  line-height: 25px;
  background-color: rgba(245, 245, 245, 0.7);
}

.card div {
  max-width: 700px;
}

.card p {
  font-size: 15px;
  padding: 7px;
}

.name {
  font-size: 10vh;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.about {
  font-weight: bold;
  text-align: justify;
  margin: 0 5vw;
  text-indent: 30px;
  line-height: 25px;
}

.contact {
  font-weight: bold;
}

.contact p {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.inline {
  font-weight: bold;
}

.inline:hover {
  text-decoration: underline;
}

.icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.icons img {
  height: 70px;
  margin: 10px;
}

.links {
  text-align: center;
}

.languages {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  h2 {
    font-size: 4.5vw;
  }

  .card p {
    font-size: 12px;
  }
}
