.project-container {
  flex-direction: column;
}

.name {
  font-size: 10vh;
}

.about {
  font-weight: bold;
  text-align: justify;
  margin: 0 5vw;
  text-indent: 30px;
  line-height: 25px;
}

.contact {
  font-weight: bold;
}

.contact p {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.languages {
  font-weight: bold;
}

/* contact form */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  width: 80vw;
  height: 400px;
  margin: 30px auto;
  text-align: left;
  background-color: white;
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

input {  
  width: 80%;
  outline: 0;
  padding: 5px;
}

textarea {
  width: 80%;
  outline: 0;
}

label {
  width: 20%;
}


